<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lucky'O</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= t("app.name") %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <%# Ссылка на админку %>
            <li class="nav-item">
              <%= link_to 'Админка', rails_admin_path, class: 'nav-link text-danger' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Залить новые вопросы', new_questions_path, class: 'nav-link text-warning' %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to content_tag(:span, "#{current_user.name} - #{number_to_currency current_user.balance}"),
                    user_path(current_user),
                    class: 'nav-link'
            %>
          </li>
          <li class="nav-item">
            <%= link_to 'Новая игра', games_path, method: :post, class: 'nav-link text-success' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-link text-info' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Войти', new_user_session_path, class: 'nav-link text-primary' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link text-success' %>
          </li>
        <% end %>
      </div>
</nav>

<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-12">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <footer class="mt-5">
    <p>&copy; <%= link_to 'Хороший программист', 'http://bit.ly/1U2DVdI' %> 2016 &mdash; &infin;</p>
  </footer>
</div>

</body>
</html>
